$primary-color: #49bbbd;
$primary-color-2: #45aeaf;
$primary-color-3: #92d6d6;
$primary-color-4: #40c0c0;
$primary-color-5: #50d0d0;
$primary-color-6: #00FFF0;
$primary-light-color: #EDF8F8;
$white-color: #ffffff;
$white-color-opacity: #ffffffb3;
$white-color-2: #ffffff4d;
$white-color-3: #c6c6c666;
$gray-color: #5b5b5b;
$gray-color-2: #f1f1f1;
$silver-color: #696984;
$silver-color-2: #626381;
$silver-color-3: #83839A;
$light-gray-color: #d9d9d9;
$black-color: #000000;
$black-light-color: #00000050;
$black-light-color-2: #00000014;
$black-light-color-3: #262d7614;
$black-light-color-4: #21212133;
$black-light-color-5: #00000040;
$dark-blue-color: #252641;
$light-purple-color: #B2B3CF;
$orange-color: #F48C06;
$orange-light-color: #f48d064d;
$blue-color: #136CB5;
$blue-color-1: #29B9E7;
$blue-color-2: #30AED7;
$purple-color: #2F327D;
$purple-color-light: #2f327d1a;
$light-purple-color-2: #5B72EE;
$green-color: #33EFA0;
$light-white-color: #FBFBFB;
$light-blue-color: #EBF5FF;
$red-light-color: #ff000099;
$sky-blue-color: #9ecdff4d;
$light-red-color: #EE645B4D;
$red-color: #EE645B;
$light-red-color-2: #ff000033;
$white-light-color: #FFFFFFCC;
$primary-light-color-2: #49bbbd33;